@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"],
[epub|type~="dedication"] p:first-of-type,
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="dedication"] > p:first-of-type{
	margin: 3em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

#chapter-21 > [epub|type~="z3998:letter"]{
	margin: 0;
}

[epub|type~="dedication"] p{
	text-indent: 0;
}
