@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:salutation"],
#dedication header,
.signature{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

footer + p,
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
	margin-top: 1em;
}